html, body {

}

.intro-work {
	font-size: 40px;
	color: #fff;
	margin-top: 20%;
}

.intro-section{
	padding-top: 0px;
	height: auto;
}

.float-left {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.float-right{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.img-flex {
  max-width: 100%;
}

	.nav,
	.navbar-nav {
	text-align: center;
	}

.navbar-default {
	background:rgba(150,150,150,0.8);
	border-bottom: #222;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #222;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background: rgba(167, 167, 167, 0.8);
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

h2 {
	text-align: left;
}

.carousel-control.right,
.carousel-control.left {
	background: none;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 100%;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-right: 0px;
	padding-left: 0px;
}

.img-flex {
	width: 100%;
}

@media (min-width: 768px) {
	.float-left {
	float:left;
	width: 25%;
	margin-top: 3%;
	margin-left: 3%;
	}

	.float-right{
	float:right;
	width: 60%;
	margin-right: 8%;
	text-align: justify;
	}

	.nav,
	.navbar-nav {
	float: right;
	}

}
