html, body {

}

.intro-work {
	font-size: 40px;
	color: #fff;
	margin-top: 20%;
}

.intro-section{
	padding-top: 17%;
	height: auto;
	margin-bottom: 10%;
}

.work-section{
height: auto;
}
.float-left {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.float-right{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

.img-flex {
  max-width: 100%;
}

	.nav,
	.navbar-nav {
	text-align: center;
	}

.navbar-default {
	background:rgba(150,150,150,0.8);
	border-bottom: #222;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #222;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background: rgba(167, 167, 167, 0.8);
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

h2 {
	text-align: left;
}

.carousel-control.right,
.carousel-control.left {
	background: none;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 100%;
}

.img-flex {
	width: 100%;
}

 .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
	width: 150px;
	padding-top: 5px;
}

.folio-piece {

}

.btn-primary {
	background-color: #fff;
	border: #ccc solid 1px;
}

.btn-lg,
.btn-group-lg > .btn {
padding: 5px;
max-width: 80%;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
	background-color: #fff;
	border: #bbb solid 1px;
}

.modal {
	height: auto;
}


@media (min-width: 768px) {
	.float-left {
	float:left;
	width: 25%;
	margin-top: 3%;
	margin-left: 3%;
	}

	.float-right{
	float:right;
	width: 60%;
	margin-right: 8%;
	text-align: justify;
	}

	.nav,
	.navbar-nav {
	float: right;
	}

	.btn-lg,
	.btn-group-lg > .btn {
	padding: 5px;
	max-width: 45%;
	margin:0 1rem 1rem 0;
	}

	.grid {

	}

}

.left-align-piece {
	text-align: left;
}

table {
	margin-top: 1.5rem;
}

tr {
	width: 30%;
}

td {
	padding-bottom: .5rem;

}

.modal-footer{
	font-size: 10px;
	font-color: #ccc;
}

.categorie {
	color: #b2b2b2;
	text-align: right;
	text-transform: uppercase;
	width: 34%;
	vertical-align: top;
	padding-right: .5rem;
}

@media (min-width: 992px) {
	.intro-section{
	padding-top: 12%;
	padding-bottom: 5%;
	}

	.btn-lg,
	.btn-group-lg > .btn {
	padding: 5px;
	max-width: 30%;
	margin:0 1.5rem 1.5rem 0;
	}

}
